<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.eungi.permissiondemob">

    <permission
        android:name="kr.eungi.permissiondemob.perm_launch_activity"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="kr.eungi.permissiondemob.ActivityB"
            android:permission="kr.eungi.permissiondemob.perm_launch_activity"
            >
            <intent-filter>
                <action android:name="com.advanced_android.permissiondemob.ACTION_LAUNCH_APP_B" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>